version 5.211.0
source https://www.nuget.org/api/v2

nuget FSharp.Core

github stijnmoreels/System Time.fs
github stijnmoreels/System Option.fs
github stijnmoreels/System Result.fs
github stijnmoreels/System Maybe.fs

group Test
    source https://www.nuget.org/api/v2
    nuget Expecto.TestResults
    nuget Expecto.FsCheck
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.VisualStudio.TestAdapter
    nuget Argu
    
    nuget Xunit
    nuget Xunit.Runner.VisualStudio
    nuget Microsoft.NET.Test.Sdk

// [ FAKE GROUP ]
group FakeBuild
    storage none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Cli
    nuget Fake.Tools.Git
    nuget Fake.DotNet.MSBuild
    nuget Fake.Core.ReleaseNotes 
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.Expecto 
    nuget Fake.DotNet.FSFormatting 
    nuget Fake.Api.GitHub

group Formatting
    source https://nuget.org/api/v2
    source https://ci.appveyor.com/nuget/fsharp-formatting

    nuget FSharp.Formatting prerelease
    nuget FSharp.Formatting.CommandTool prerelease