name: "Code Coverage"

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        language: [ 'csharp' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Paket install
      run: dotnet paket install

    - name: Coverlet coverage test
      uses: b3b00/coverlet-action@1.2.4
      with:
        testProject: 'tests/FPrimitive.Tests/FPrimitive.Tests.fsproj'
        threshold: 80
        output: 'coverage.xml'
        outputFormat: 'opencover'

    - name: Codecov
      uses: codecov/codecov-action@v3.1.1
      if: always()
